<h2>Add a New Place</h2>

<form action="/places/create">
Title: <input name="title" style="width: 500px;"><br>
Photo URL: <input name="photo_url" style="width: 500px;"><br>
Price: <input name="admission_price" style="width: 500px;"><br>
Description: <input name="description" style="width: 500px;"><br>
<button>Submit</button>
</form>

